include _layouts/base.pug

section(id="short").hero.is-fullheight.is-transparent
  .hero-body
    .container
      .content.has-text-centered
        include _pages/error.pug

include _includes/footer.pug