include _layouts/base.pug

section(id="short").hero.is-fullheight.is-purple-background.is-bold
  .hero-body
    .container
      .content.has-text-centered
        include _pages/index.pug
          
section(id="about").section
  .container
    include _pages/about.pug

include _includes/footer.pug