include _layouts/base.pug

section#short.hero.is-gradient-background.is-fullheight
  include _pages/index.pug

  
          
section(id="about").section
  .container
    include _pages/about.pug

include _includes/footer.pug