include _layouts/base.pug

.hero.is-medium.is-transparent
  .hero-body
    .container
      .content.has-text-centered
        p.title.is-purple Termos

section(id="terms".section)
  .container
    .content.has-text-left
        include _pages/terms.pug

include _includes/footer.pug