footer.footer
  .content.has-text-centered
    p
      | Copyright ©
      script.
        document.write(new Date().getFullYear());
      |
      |
      strong.is-logo hey!
      |
      | por
      |
      a.is-urb(href="https://studiourbanna.github.io") stdurb
      | . Todos os direitos reservados.
include tracking-footer.pug