nav(id="top").navbar.is-light.is-fixed-top
  .navbar-brand
    a.navbar-item.is-logo(href="home#short") here!
    .navbar-item
      span o encurtador 
      |
      | da 
      | 
      a.is-urb.strong("https://portalurbanna.com.br") urbanna
    .navbar-burger(data-target="navbarExampleTransparentExample")
      span
      span
      span
  #navbarExampleTransparentExample.navbar-menu
    .navbar-end
      .navbar-item
        .field.is-grouped
          a.navbar-item.is-active(href='home#short')
            | Encurtar
          a.navbar-item(href='home#about')
            | Sobre
          a.navbar-item(href='terms')
            | Termos