h1.title Sobre
.content
  p
    | Encurta&iacute; &eacute; um encurtador de links; criado na linguagem PUG, com framework Bulma.
  p 
    | Desenvolvido 100% pela Camila L. Oliveira com a studiourbanna.
  p
    a.button.is-danger.is-rounded(href='https://do.encurtai.com/pix') Colabore com um Caf&eacute;
