p.title.is-white
  | Gere links para seus amigos com
p.subtitle.is-white
  |
  strong.is-logo.is-white o EncurTaí!
  | 

.field.mb-6.has-addons
  .control
    input#linkinput.input.is-rounded(name='text' type='url' value='' placeholder='Cole o link')
  .control
    button#myinput.button.is-primary.is-rounded(type='submit') Encurtar

#message.mb-4