p.title.is-white
  | Gere links para seus amigos
p.subtitle.is-white.strong.is-logo.is-white com o EncurTaí!
  |
  .field.mb-6.has-addons
    .control
      input#linkinput.input.is-rounded(
            name="text",
            type="url",
            value="",
            placeholder="Cole o link"
          )
    .control
      button#myinput.button.is-white.is-rounded(type="submit")
            | Encurtar
  
  
  #message.mb-4
        |