doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title encurtaí | o encurtador de links mais legal do mundo!
  // Favicon
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.png')
  // Bootstrap and Theme Stylesheet
  link(rel='stylesheet' href='assets/css/main.css')
  include ../_includes/tracking-header.pug
  include ../_includes/nav.pug
  